#photo {
    transform: rotate(45deg); /* fait rotate l'image de 45 degrés sens horaire, accepte aussi le terme turn ex (0.25 turn)*/
    transform-origin: 0% 0%;  /* permet de faire une rotate depuis une autre origine, ici top left */
    transform: scale(1.5); /* grossissement */
    transform: scale(2, 0.3); /* premiere valeur =x, deuxieme valeur =y */
    transform: translate(170px, 49px); /* deplacement simple */
    transform: skew(-20deg); /* etire l'image */
    transform: scale(0.3) rotate(45deg) skewY(-20deg) /* exemple de combinaison de plusieurs transform */
 }

 div{
     background-color: chartreuse;
     transition-property: background-color; /* indique la propriété qui sera touchée */
     transition-duration: 1s;
 }
 
 div:hover{
     background-color: brown; /* permet de changer la couleur au survol de la souris */
 }

 @keyframes masuperanimation { /* nasuperanimation= nom de l'animation choisie. Simple description des étapes !! pas encore d'animation a ce point */
    0% {
        transform: translate(0px);
    }

    50% {
        transform: translateX(150px);
    }

    100% {
        transform: translateX(150px) rotate(3Oturn);
    }

 }