body {
    background-color: blueviolet;
    font-family: 'Courier New', Courier, monospace;
    background-image: url("https://ssl.sitew.org/images/blog/articles/fonds/e7.jpg");
    background-attachment: scroll;
    background-repeat: repeat;
    background-position: 30px 40px;
    background-color: rgba(255, 0, 0, 0.9);
    /* RGB + A definissant l'opacité */
    /* position du background definit en px, center...,Topright etc => voir diapo propriétés raccourcies pour la version simplifiée*/
    /* utilisation des polices dans l'odre d'écriture en cas de défaut de l'une d'elles */
}
/* selection des balises précises */
h1, em, h2 {
    color: greenyellow;
}
img {
    border-radius: 50px;
    float: center;
    box-shadow:5px 5px 5px rgb(125, 64, 236);
    width: 20%;
}
/* selection de la classe en question */
.Introduction {
    color: lightsalmon;
}
/* selection de la balise en question */
#Bas_de_page {
    color: yellow;
    font-size: xx-large;
}
* {
    text-align: center;
    font-style: inherit;
    text-shadow: 3px 3px 3px rgb(125, 64, 236);
    width: 90%;
}
    
/* selection du em a l'interieur du H1 */
h1 em {
    color:royalblue;
    font-size: 60px;
}
/* selectionne le paragraphe suivant les balises h3 */
h3+p {
    font-size: xx-large;
    font-weight: bold;
}
a[title] {
    color: violet;
}
/* selection stricte */
a[title="Shining_HELLO"] {
    border-color: yellowgreen;
}
/* selectionne le champ contenant le mot */

a[title*=ici] {
    font-size: 40px;
}
/* la taille peut etre definie en %age, em, pxl ou en x-large and co */

p {
    opacity: 0.9;
    color: black;  
    margin: auto;
    margin-bottom: 15px;
    text-align: justify;
    padding: 12px;
    border: solid red;
    border-radius: 40px;
    word-wrap: break-word;
}

h2+p:hover {
    text-decoration: underline;
    color: coral;
}

a:focus {
    background-color: slateblue;
}
/* Permet de changer la couleur du focus avec tab */

a:visited {
    color: yellow;
}
/* permet de choisir la couleur du lien une fois que l'on a cliqué dessus */

td, th {
    border-collapse: collapse;
    border: 1px solid black
}
table {
    caption-side: bottom;
    border-collapse: collapse;
}

:required {                             /* permet de colorer la bordure d'un champ requis a la validation d'un formulaire */
        border-color: crimson;
}

/* DEGRADES */

#degrad {
    background-image: linear-gradient(to left bottom, blue 30%, yellow 40%); /* "to righ"t "to left" ... On peut cumuler + de 2 couleurs, les % indique les endroits ou le dégradé s'opere(facultatif). */
    background-image: radial-gradient(circle at center, yellow, blue);
    background-image: repeating-linear-gradient(yellow, blue 30px); /* Dégradé repetitif */
}