/* .maCouleur{
    color: red;
}

h1{
    display: none;
} */

/* body{
    min-height: 5000px;
}

.boxbar{
    width : 100%;
    border: 2px solid red;
    position: fixed;
    top: 0;
    left: 0;
}

.bar{
    height : 20px;
    width : 0;
    background-color: blue;
} */

/* h1{
    cursor: crosshair;
    text-align: center;
} */

/* img{
    display: none;
} */